.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-auto-flow: column;
  column-gap: var(--spacing-s);
}

.item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.delimiter {
  display: flex;
  width: 1px;
  background: var(--colors-text);
}

.status {
  /* text-transform: capitalize; */
}
