.auth
  &-main-container
    width 100%
    align(center)

  &-form
    &-container
      box-sizing border-box
      width 260px
      margin 0 auto

    &-space
      display block
      width 100%
      box-sizing border-box
      padding 8px 16px
      margin 8px 0
      border solid eriFontColor 1px
      &::placeholder
        color eriFontColor

  &-header
    text-align center
