node_modules
coverage
.DS_Store

*.tsbuildinfo

/.changeset
/.direnv
/.devenv
/.github
/.pnpm-store
/.react-router
/.tsimp
/.vscode

# local env files
.env*.local

# Configs
/commitlint.config.ts

# Local build files
/build
