# Sample env file

# Auth cookie secret
AUTH_SECRET=
AUTH_COOKIE_PREFIX=

# Database connection settings
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

# libSQL configuration. Use either url or db name + password
LIBSQL_DB_URL=
LIBSQL_DB_NAME=
LIBSQL_DB_PASSWORD=

DEVENV_CADDY_EMAIL=
