# Sample env file

# Auth cookie secret
AUTH_SECRET=
AUTH_COOKIE_PREFIX=

# libSQL configuration. Use either url or db name + password
LIBSQL_DB_URL=
LIBSQL_DB_NAME=
LIBSQL_DB_PASSWORD=

DEVENV_CADDY_EMAIL=
