controller
core
model
node_modules
configs/user.yaml
configs/user.yml
themes/**/public/assets
themes/**/src/vendor
themes/**/src/gulp-tmp
npm-debug.log
.DS_Store
index.js
*.rdb

!setup/index.js
!src/controller
!src/core
!src/model
