controller
core
model
node_modules
setup
test
configs/user.yaml
configs/user.yml
theme/**/public/assets
theme/**/src/vendor
theme/**/src/gulp-tmp
npm-debug.log
yarn-error.log
.DS_Store
index.js
*.rdb

!src/setup
!src/controller
!src/core
!src/model
!src/test
