.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  text-align: center;
}

.fields {
  display: grid;
  grid-gap: var(--spacing-s) 0;
}
