.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--colors-text);
  transition: margin-left linear;
  z-index: 9999;
}

.content {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px black, 0 0 5px black;
  transform: rotate(3deg) translate(0px, -4px);
  opacity: 1;
}
