.container {
  padding: var(--spacing-xs) var(--spacing-s);
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  color: var(--colors-interactive-text);
  background: var(--colors-interactive);
}

.secondary {
  color: var(--colors-text);
  background: var(--colors-grey);
  border-color: transparent;
}
