doctype html
html
  head
    meta(charset="utf-8")
    meta(name="generator", content="Eri v" + version)
    link(rel="stylesheet", href="/assets/css/common.css")
    title= name || 'Eri'
  body
    block content
      | Foo
