.container {
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  grid-template-rows: 1fr auto;
  row-gap: var(--spacing-xs);
}

.content {
  display: flex;
  flex-direction: column;
}

.field {
  padding: var(--spacing-s);
  border: 1px solid var(--colors-text);
  background: var(--colors-input-field); /* todo: replace this alpha channel hex color with actual grey */
  color: var(--colors-text);
}

.editable {
  flex: 1;
  color: var(--colors-text);
  font-size: 1em;
  user-select: none;
}
