extends ../layout/layout

block nav
block content
  .auth-main-container
    .auth-form-container
      .auth-header
        h3.auth-header-title Welcome
      .auth-form-content
        form(action="/eri" method="post")
          input.auth-form-space(type="text" name="username" placeholder="Your email or login…" required)
          input.auth-form-space(type="password" name="pass" placeholder="Your password…" required)
          input(type="hidden", name="_csrf", value="" + __csrf)
          button.button-auth Sign in
